OPENAI_API_KEY=abc123
AGENTS_LLM_MODEL=gpt-4o

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=


DATABASE_URL=

BETTER_AUTH_SECRET=

NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_BACKEND_URL=http://localhost:3001

NEXT_PUBLIC_BETTER_AUTH_INCLUDE_EMAILS_AUTH=true

NEXT_PUBLIC_USE_AUTH_PROXY=true

SPRITES_TOKEN=
SPRITES_API_BASE_URL=https://api.sprites.dev

NODE_ENV=test

E2E_SANDBOX=
E2E_SANDBOX_URL=
