PORT=8000
BOT_NAME=Zuko AI
DEEPGRAM_API_KEY=
PLATFORM=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET_NAME=
NODE_ENV=production | development
FLY_API_TOKEN=
FLY_APP_NAME=meeting-bot
FLY_REGION=sin
LANGGRAPH_API_URL=
LANGSMITH_API_KEY=
PUPPETEER_EXECUTABLE_PATH=
BACKEND_URL=
AGENT_TOKEN=
